<section id="s" class="" style="background: white;   height: 90pt;   box-shadow: 0px 3px 6px 0px #00000029;">

    <div class="container nopadding-div" style="background: white">
      <div class="margin " style="display: flex;">
      <div class="col-sm-4 box" class="notification">
      <img src="/assets/img/payment.png" height="30.77pt" width="49.84pt" style="position:relative; top:20%">
      <span class="badge">3</span>   
    </div>  
      <div class="col-sm-4 col-5 box" style="align-self: center; width: 228px;">
        <span class="shipment-item-h">Payable shipments</span><br/>
            <span class="shipment-item-q">Shipments ready for payment</span>
      </div>
      <div class="col-sm-4 col-5 box" > 
        <i class="fa fa-angle-right" style="font-size:20pt;color:#DC291E;position:relative; top:34%"></i>  
         
    </div>
      </div>
         </div>  
      </section>  