<div class="margin">
<H1>Hello Malek</H1>
<p style="color:#7B8591 ;">Help us deliver your shipments with ease</p>
</div> 
  
  <section id="s" class="" style="background: #F6F6F6;    box-shadow: 0px 3px 6px 0px #00000029;">

  <div class="container nopadding-div" style="">
    <div class="margin " style="display: flex;">
    <div class="col-sm-4 box" style="height:61px; width:57px ">
    <ng-lottie  [options]="options" ></ng-lottie>

  </div>  
    <div class="col-sm-4 col-5 box" style="align-self: center; width: 228px;">
      <span class="shipment-item-h">You have 2 new shipments</span><br/>
          <span class="shipment-item-q">How would you like to receive it?</span>
    </div>
    </div>
    <div class="md-5">
    <div class="margin " style="display: flex;">
    <div class="col-sm-6 box display-flex">
    <div><img src="/assets/img/deliver.png" height="52" width="52" style=""/></div>
    <div class="col-sm-24 nopadding ">
      <span class="shipment-item-h">Deliver it</span><br/>
      <span class="shipment-item-q">2-3 Days</span>
      </div></div>
    <div class="col-sm-6 col-5 box display-flex">
      <div><img src="/assets/img/pickup.png" height="52" width="52" style=""></div>
      <div class=" col-sm-24 nopadding ">
        <span class="shipment-item-h">Self Pickup</span><br/>
        <span class="shipment-item-q">2-3 Days</span>
        </div>
    </div>
 
    </div>
    </div>
    </div>
    
    </section>
 

  
 